
*{
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
width: 900px;
height: 1000px;
background-color: rgb(235, 220, 156);
margin: 0 auto;

}
.ventana{
    height: 80%;
    width: 80%;
    background-color: rgb(111, 209, 188);
}
h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
}
label{
    text-align: center;
    color: black;
    font-size: 20px;
}
#btnLlenar{
    padding: 20px;
    margin: 0 auto;
    background-color: rgb(165, 96, 221);
    color:white ;
    font-size: 16px;
    position:relative;
    margin-top: 10px;
    left: 35%;
    border-radius: 15px;
}
#numeros{
    position: relative;
    margin-top: 0%;
    left: 1%;
    padding-right: 150px;
}
p{
    margin-top: 1px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
}

button{
    padding: 25px;
    margin: 0 auto;
    background-color: rgb(160, 99, 184);
    color:white ;
    font-size: 16px;
    position:relative;
    margin-top: 10px;
    left: 0%;
    border-radius: 40px;


}
